<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Admin main</title>
</head>
<body>

<div th:fragment="edit">
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-form" class="form">
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="userId"><strong>ID</strong></label>
                                <input type="text" class="form-control" id="userId" disabled="disabled"/>

                                <!--                                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="firstName"><strong>First name</strong></label>
                                <input type="text" class="form-control" id="firstName"/>
                                <!--                                            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="lastName"><strong>Last name</strong></label>
                                <input type="text" class="form-control" id="lastName"/>
                                <!--                                            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="userAge"><strong>Age</strong></label>
                                <input type="text" class="form-control" id="userAge"/>
                                <!--                                            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="userName"><strong>Email</strong></label>
                                <input type="text" class="form-control" id="userName"/>
                                <!--                                            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="userPassword"><strong>Password</strong></label>
                                <input type="password" class="form-control" id="userPassword"/>
                                <!--                                        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center col-md-4 mx-auto">
                                <label for="roles"><strong>Roles</strong></label>
                                <select name="roles" multiple class="form-control" id="roles">
                                    <option>USER</option>
                                    <option>ADMIN</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="editUserButton">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>