<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Admin main</title>
</head>
<body>

<div th:fragment="nav">
    <div>
        <ul class="nav flex-column nav-pills nav-stacked mt-3">
            <li class="nav-item pl-3"><a class="nav-link active in" data-toggle="tab" aria-current="page" href="#admin">Admin</a></li>
            <li class="nav-item pl-3"><a class="nav-link" data-toggle="tab" href="#user">User</a></li>
        </ul>
    </div>
</div>

</body>
</html>